.main_container {
    margin-left:auto;
    margin-right:auto;
    background: #FFFFCC;
    width:940px;
    max-width: 940px;
}
.header-nemu{
    background: red;
    #position: absolute;
    position: relative;
#    width: 550px;
#    right:40px;
#    bottom:-100px;
    #margin-left: 200px;
    margin-left: 25%;
    top: 100px;
}
.header-logo{
    position: absolute;
    #width:200px;
    width: 25%;
    float:left;
    background: blue;
}
.mid_container {
    margin:20px 0px;
}
.main_content_area {
    float:left;
    width:900px;
}
.right_sidebar {
    float:right;
    width: 220px;
}
.header {
    height: 140px;
    #position: absolute;
    position: relative;
#    overflow: auto;
}
.main_content_area,
.right_sidebar,
.footer,
.main_container,
.container_pic,
.container_b,
.container_col,
.header {
    border:1px solid #bbb;
margin:20px 0px;
}

* {
         -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                            box-sizing: border-box;
                              }  
